#about {
    background-color: #001320;
    background-size: cover;
    margin: 0;
    height: 600px;
}

#about h1{
    color: white;
    font-size: 30px;
    font-family: avenir, 'avenir next', helvetica, sans-serif;
    text-align: center;
    display: inline;
}

#about p{
    color: white;
    font-size: 14px;
    font-family: avenir, 'avenir next', helvetica, sans-serif;
    text-align: justify;
    display: inline;
}

.about {
    padding: 60px;
}

#about img{
    width: 250px;
    border-radius: 50%;
}

#col-md-4 aboutMeImg {
    padding: 0;
}