#about {
    background-color: #001320;
    background-size: cover;
    height: 100vh;
}


#about h1{
    color: white;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 2em;
}

#about p{
    color: white;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: justify;
}

.btn-info{
    color: white;
    background-color: #001320;
    border-color: #001320;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
}

.btn-info:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #001320;
}

.row.button {
    text-align: center;
    display: block;
    font-size: 1.5vw;
}