#header {
    background-image: url("../Assets/Image/smoke.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.title {
    display: grid; 
    height: 110vh;
    align-content: center;
}

.smoke h1{
    color: #d3d3d3;
    text-align: center;
    /* margin-top: 260px; */
    font-family: 'Dawning of a New Day', cursive;
    transform: scale(1, 2);
    font-size: 6vw;
}

.smoke p{
    text-align: right;
    color: #d3d3d3;
    font-size: 2vw;
    text-shadow: 0.05em 0.1em 0 var(--grey); 
    font-family: 'open sans', sans-serif; 
    margin-right: 10em;
    margin-top: 3em;
}

/* .rainDrops {
    background-image: url("../Assets/Image/smoke.jpg");
    min-height: 100%;
    position: relative;
 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  } */