.my-jumbo {
    background-image: url("../Assets/Image/smoke.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;
}

#header h1{
    color: #d3d3d3;
    text-align: center;
    margin-top: 120px;
    font-family: 'Dawning of a New Day', cursive;
    transform: scale(1, 2);
    font-size: 6vw;
}

#header p{
    text-align: right;
    color: #d3d3d3;
    font-size: 2vw;
    text-shadow: 0.05em 0.1em 0 var(--grey); 
    font-family: 'open sans', sans-serif; 
    margin-right: 10em;
    margin-top: 3em;
}