.navbar{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.fa-linkedin {
    color: white;
    font-size: 2em;
}

.fa-github {
    color: white;
    font-size: 2em;
}