#quote{
    background-image: url("../Assets/Image/annie-spratt-419263-unsplash.jpg");
    background-size: cover;
    margin: 0;
    height: 500px;
}

#quote h1{
    font-size: 20px;
    color: #001320;
    margin: 0px 20px 20px 20px;
}

#quote p{
    font-size: 18px;
    color: var(--black);
    text-align: right;
    margin: 20px;
}

.quote{
    padding: 100px 60px 40px 60px;
}